{% extends 'base.html.twig' %}

{% block title%}Informations | {{user.name}} {% endblock %}

{% block body %}
 {% if user.tache is not empty %}
    <h1> Liste des taches pour {{user.name}}</h1>
    <div class="d-flex align-items-center justify-content-center p-5">
        <p class="p-2">{{user.tache}}</p>
    </div>
{% else %}
        <p>il n'y a aucune taches pour {{user.name}}<p>
{% endif %}
    <h2>Modifier les Informations</h2>
    {{form(form)}}
{% endblock %}

